@import url("https://fonts.googleapis.com/css?family=Merriweather|Open+Sans&display=swap");

* {
  transition: all 0.1s ease;
  -webkit-text-size-adjust: none;
}

html,
body {
  font-size: 16px;
  background: #f2f2f3 !important;
}

td,
div,
p,
ul,
ol {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #2e3545;
  word-break: break-word;
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", serif;
  color: #2e3545;
  word-break: break-word;
}

p,
ul,
ol,
.small {
  margin: 0 0 24px;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 4px 0 12px;
  font-weight: bold;
}

h1 {
  margin-top: 0;
  font-size: 48px;
  line-height: 56px;
}

h2 {
  font-size: 40px;
  line-height: 48px;
}

h3 {
  font-size: 32px;
  line-height: 40px;
}

h4 {
  font-size: 24px;
  line-height: 32px;
}

h5 {
  font-size: 20px;
  line-height: 28px;
}

.small {
  font-size: 13px;
  line-height: 18px;
}

ul,
ol {
  margin-left: 40px;
}

p a,
ul a,
ol a {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #2e3545;
  word-break: break-word;
}

hr {
  height: 1px;
}

.footerCopy a {
  color: #696969 !important;
  text-decoration: underline !important;
  font-weight: normal !important;
}

.blockquote,
blockquote {
  font-style: italic;
  padding-left: 20px;
  border-left: 2px solid black;
}

.btn {
  min-width: 160px;
  font-size: 18px;
  line-height: 24px !important;
  font-weight: 500 !important;
}

.btn:focus {
  box-shadow: 0 0 2px 4px rgba(17, 101, 191, 0.4) !important;
}

.btn:hover {
  box-shadow: 0 2px 4px 0 rgba(46, 53, 69, 0.2) !important;
}

.btn:active {
  box-shadow: inset 0 2px 4px 0 rgba(46, 53, 69, 0.2) !important;
}

@media (max-width: 425px) {
  .mobile-fix {
    width: 100% !important;
  }
  .img-fix {
    width: 100% !important;
    max-width: 100% !important;
  }
  .mobile-padding-reset {
    padding: 0 !important;
  }

  .mobile-stack {
    display: block !important;
    width: 100% !important;
  }

  .hide {
    display: none !important;
  }
  .unhide {
    display: block !important;
  }
}
